<%= form_for(@employee_budget) do |f| %>
  <% if @employee_budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_budget.errors.count, "error") %> prohibited this employee_budget from being saved:</h2>

      <ul>
      <% @employee_budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :annual_salary_paid %><br />
    <%= f.number_field :annual_salary_paid %>
  </div>
  <fieldset>
    <div class="actions">
      <center><%= f.submit 'Save Employee Budget', :class => 'btn btn-primary span4' %></center>
    </div>
  </fieldset>
<% end %>
