<h2 class="medium-margin-bottom">Add Employee to <%= @search.reference_num %></h2>
<p>Client: <%= @search.client.name %></p>
<p class="heavy-margin-bottom">Title: <%= @search.title %></p>

<%= render 'form' %>

<%= link_to 'Back', consultant_roles_path %>
