<p id="notice"><%= notice %></p>

<p>
  <b>Reference num:</b>
  <%= @search.reference_num %>
</p>

<p>
  <b>Client:</b>
  <%= @search.client_id %>
</p>

<p>
  <b>New client?:</b>
  <%= @search.new_client? %>
</p>

<p>
  <b>Title:</b>
  <%= @search.title %>
</p>

<p>
  <b>Function:</b>
  <%= @search.function %>
</p>

<p>
  <b>Level:</b>
  <%= @search.level %>
</p>

<p>
  <b>Search start date:</b>
  <%= @search.search_start_date %>
</p>

<p>
  <b>Engagement letter signed date:</b>
  <%= @search.engagement_letter_signed_date %>
</p>

<p>
  <b>Be lead:</b>
  <%= @search.be_lead %>
</p>

<p>
  <b>Source:</b>
  <%= @search.source %>
</p>

<p>
  <b>Introduction:</b>
  <%= @search.introduction %>
</p>

<p>
  <b>Salary:</b>
  <%= @search.salary %>
</p>

<p>
  <b>Target bonus percent:</b>
  <%= @search.target_bonus_percent %>
</p>

<p>
  <b>Fee percent:</b>
  <%= @search.fee_percent %>
</p>

<p>
  <b>Status:</b>
  <%= @search.status %>
</p>

<p>
  <b>Reason closed:</b>
  <%= @search.reason_closed %>
</p>

<p>
  <b>Notes:</b>
  <%= @search.notes %>
</p>

<p>
  <b>Name of hire:</b>
  <%= @search.name_of_hire %>
</p>

<p>
  <b>Signed offer date:</b>
  <%= @search.signed_offer_date %>
</p>

<p>
  <b>Placement start date:</b>
  <%= @search.placement_start_date %>
</p>

<p>
  <b>Signing bonus:</b>
  <%= @search.signing_bonus %>
</p>

<p>
  <b>Equity:</b>
  <%= @search.equity %>
</p>

<p>
  <b>Network:</b>
  <%= @search.network %>
</p>

<p>
  <b>Introduced by:</b>
  <%= @search.introduced_by %>
</p>

<p>
  <b>Relocation from:</b>
  <%= @search.relocation_from %>
</p>

<p>
  <b>Relocation to:</b>
  <%= @search.relocation_to %>
</p>

<p>
  <b>Diversity:</b>
  <%= @search.diversity %>
</p>

<p>
  <b>Gender:</b>
  <%= @search.gender %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
